<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsoleAlpha</key>
	<array>
		<real>1</real>
		<real>0.99997437000274658</real>
		<real>0.99999129772186279</real>
		<real>1</real>
	</array>
	<key>ConsoleBackground</key>
	<array>
		<real>0.33143708109855652</real>
		<real>0.33823049068450928</real>
		<real>0.3380889892578125</real>
		<real>1</real>
	</array>
	<key>ConsoleText</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorBackground</key>
	<array>
		<real>0.15363599359989166</real>
		<real>0.15685397386550903</real>
		<real>0.15677450597286224</real>
		<real>1</real>
	</array>
	<key>EditorHighlightBraces</key>
	<array>
		<real>0.88599997758865356</real>
		<real>0.60799998044967651</real>
		<real>0.96899998188018799</real>
		<real>1</real>
	</array>
	<key>EditorHighlightContent</key>
	<array>
		<real>0.3880000114440918</real>
		<real>0.40400001406669617</real>
		<real>0.49799999594688416</real>
		<real>1</real>
	</array>
	<key>EditorInsertionPoint</key>
	<array>
		<real>0.5220000147819519</real>
		<real>0.60000002384185791</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>EditorInvisibleChar</key>
	<array>
		<real>1</real>
		<real>0.5</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorReverseSync</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorText</key>
	<array>
		<real>0.81599998474121094</real>
		<real>0.83099997043609619</real>
		<real>0.83099997043609619</real>
		<real>1</real>
	</array>
	<key>ImageBackground</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
	</array>
	<key>ImageForeground</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>LogBackground</key>
	<array>
		<real>0.15294117647058825</real>
		<real>0.16078431372549021</real>
		<real>0.20000000000000001</real>
		<real>1</real>
	</array>
	<key>LogText</key>
	<array>
		<real>0.792156862745098</real>
		<real>0.80784313725490198</real>
		<real>0.80784313725490198</real>
		<real>1</real>
	</array>
	<key>PreviewAlpha</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>2</real>
		<real>1</real>
	</array>
	<key>PreviewBackground</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>PreviewDirectSync</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>SourceAlpha</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>SyntaxCommand</key>
	<array>
		<real>0.49000000953674316</real>
		<real>0.72500002384185791</real>
		<real>0.99599999189376831</real>
		<real>1</real>
	</array>
	<key>SyntaxComment</key>
	<array>
		<real>0.3880000114440918</real>
		<real>0.40400001406669617</real>
		<real>0.49799999594688416</real>
		<real>1</real>
	</array>
	<key>SyntaxIndex</key>
	<array>
		<real>0.62400001287460327</real>
		<real>0.92900002002716064</real>
		<real>0.6119999885559082</real>
		<real>1</real>
	</array>
	<key>SyntaxMarker</key>
	<array>
		<real>0.99199998378753662</real>
		<real>0.80800002813339233</real>
		<real>0.40799999237060547</real>
		<real>1</real>
	</array>
	<key>Title</key>
	<string>AtomOneDarkVivid</string>
</dict>
</plist>
